.vc_btn3-container.wpb_animate_when_almost_visible.wpb_right-to-left.vc_btn3-center.wpb_start_animation{
padding:15px 0 0 0;
}
.vc_btn3{
font-weight:600 !important;
}
.theme-default .nivoSlider{
box-shadow:none !important;
}
.wpb_btn-success, #itemcontainer-controller{
background-color:#39aea9!important;
}
.hoveredIcon{
color:#39aea9&gt;
!important;
}
.topborder h3 a{
border-top:1px solid #39aea9;
}
ul.nav a.active{
color:#39aea9 !important;
}
.testimonial_text{
margin-bottom:60px;
}
.vc_custom_1455276781566{
padding-top:60px !important;
}
.vc_custom_1453723963163{
padding-top:10px !important;
}
.vc_custom_1453383084619{
padding-top:150px !important;
padding-bottom:150px !important;
}
.vc_custom_1453578451020{
padding-right:20px !important;
padding-left:20px !important;
}
.vc_custom_1453383054141{
padding-top:150px !important;
padding-bottom:150px !important;
}
.vc_custom_1453387267885{
padding-top:30px !important;
}
.vc_custom_1453387267885{
padding-top:30px !important;
}
.vc_custom_1453564077400{
padding-top:50px !important;
}
.vc_custom_1453564038684{
padding-bottom:50px !important;
}
.vc_custom_1453572667546{
padding-top:50px !important;
}
.vc_custom_1454100356151{
margin-left:0px !important;
}
.vc_custom_1453566487072{
margin-top:-30px !important;
margin-bottom:0px !important;
}
.vc_custom_1453567381697{
padding-top:50px !important;
padding-bottom:70px !important;
}
.vc_custom_1453573146708{
padding-top:50px !important;
padding-bottom:50px !important;
}
.vc_custom_1453574209867{
padding-top:50px !important;
}
.vc_custom_1453575210624{
padding-top:50px !important;
padding-bottom:50px !important;
}
.vc_custom_1453575351165{
padding-bottom:50px !important;
}
.vc_custom_1453575922116{
padding-top:50px !important;
padding-bottom:50px !important;
}
.vc_custom_1453576069236{
padding-top:5px !important;
}
.vc_custom_1453576486382{
padding-top:30px !important;
padding-bottom:30px !important;
background-color:#1b1d1f !important;
}
.vc_custom_1453576399872{
padding-top:20px !important;
}
.vc_custom_1453576673978{
padding-top:20px !important;
}
.vc_custom_1453576680532{
padding-top:20px !important;
}
.vc_custom_1455276767924{
padding-top:60px !important;
}
.vc_custom_1453723963163{
padding-top:10px !important;
}
.vc_custom_1455276757055{
padding-top:60px !important;
}
.vc_custom_1453723963163{
padding-top:10px !important;
}
.vc_custom_1455276746428{
padding-top:60px !important;
}
.vc_custom_1453723963163{
padding-top:10px !important;
}
.vc_custom_1453810867831{
padding-top:500px !important;
}
.vc_custom_1453723963163{
padding-top:10px !important;
}
.vc_custom_1453811236976{
padding-top:700px !important;
}
.vc_custom_1453811694825{
padding-top:50px !important;
padding-bottom:50px !important;
}
.vc_custom_1453811847689{
padding-top:700px !important;
padding-bottom:0px !important;
}
.vc_custom_1453811855620{
padding-top:0px !important;
}
.vc_custom_1453812025944{
padding-top:50px !important;
}
.vc_custom_1453811851623{
padding-bottom:0px !important;
}
.vc_custom_1453811861781{
padding-top:0px !important;
}
.vc_custom_1453811865936{
padding-top:0px !important;
}
.vc_custom_1453811920781{
padding-top:0px !important;
padding-right:0px !important;
padding-bottom:0px !important;
padding-left:0px !important;
}
.vc_custom_1453811880093{
padding-top:0px !important;
padding-right:0px !important;
padding-bottom:0px !important;
padding-left:0px !important;
}
.vc_custom_1455030642690{
padding-right:10px !important;
padding-left:10px !important;
background-color:#1b1d1f !important;
}
.vc_custom_1455030650840{
border-right-width:1px !important;
border-right-color:#353535 !important;
border-right-style:solid !important;
}
.vc_custom_1455030656871{
border-right-width:1px !important;
border-right-color:#353535 !important;
border-right-style:solid !important;
}
.vc_custom_1455030379974{
margin-bottom:0px !important;
padding-right:10px !important;
padding-bottom:0px !important;
padding-left:10px !important;
background-color:#1b1d1f !important;
}
.vc_custom_1455030495433{
margin-bottom:0px !important;
border-right-width:1px !important;
padding-bottom:0px !important;
border-right-color:#353535 !important;
border-right-style:solid !important;
}
.vc_custom_1455030500726{
margin-bottom:0px !important;
border-right-width:1px !important;
padding-bottom:0px !important;
border-right-color:#353535 !important;
border-right-style:solid !important;
}
.vc_custom_1455030506102{
margin-bottom:0px !important;
border-right-width:1px !important;
padding-bottom:0px !important;
border-right-color:#353535 !important;
border-right-style:solid !important;
}
.vc_custom_1455012286769{
margin-bottom:0px !important;
padding-bottom:0px !important;
}
#website_boxed{
margin:auto;
overflow:hidden;
width:100vw;
max-width:100%;
}
a.link-curtain::before{
border-top:2px solid rgba(57,174,169,0.3);
}
a.link-curtain::after{
background:rgba(57,174,169,0.1);
}
.dropdown-menu li a:hover{
background-color:rgba(57,174,169,0.05);
}
.wpcf7 input[type=text], .wpcf7 input[type=email], .wpcf7 textarea, .wpcf7 input[type=submit]{
border-radius:0;
}
.qcv_button_cart{
background-color:#d93;
}
.qcv_button_cart:hover{
background-color:#d93;
}
.qcv_button_checkout{
background-color:#d93;
}
.qcv_button_checkout:hover{
background-color:#d93;
}
#comments-form input[type=submit], #commentform input[type=submit]{
background-color:#3d4049;
}
#comments-form input[type=submit]:hover, #commentform input[type=submit]:hover{
background-color:#39aea9;
}
.back-to-top{
width:45px;
height:45px;
line-height:45px;
}

@media (max-width:479px){
.container, #container{
max-width:300px;
}
.container:before, .container:after, #container:before, #container:after{
content:&quot;
&quot;;
display:table;
}
.container:after, #container:after{
clear:both;
}
.megamenu{
width:300px;
}
.bka_menu .navbar-collapse.collapse{
display:none;
flex-direction:row;
width:auto;
}
.bka_menu .navbar-collapse.collapse.in{
display:block;
flex-direction:row;
width:auto;
}
#website_boxed:before, #website_boxed:after{
content:&quot;
&quot;;
display:table;
}
#website_boxed:after{
clear:both;
}
#website_boxed{
width:100vw;
max-width:100%;
}
#qcv_handle{
position:absolute;
top:22px;
right:70px;
}
#hgr_mc_name, #hgr_mc_lastname, #hgr_mc_email, .hgr_mc_btn{
width:100% !important;
margin-bottom:10px !important;
}
.woocommerce .product span.onsale{
top:10px !important;
right:10px !important;
left:auto !important;
}
.hgr_main_image{
float:none;
width:300px;
margin-bottom:20px;
}
.hgr_product_thumbnails{
width:300px;
max-height:240px;
float:none;
overflow:hidden;
}
.hgr_product_thumbnails a{
margin-right:10px;
}
.hgr_product_thumbnails a:last-child{
margin-right:0;
}
.hgr_product_thumbnails img{
max-width:90px !important;
height:auto;
}
.woocommerce-page div.product div.summary{
width:300px;
height:auto;
margin-right:auto;
margin-left:auto;
}
.woocommerce-page div.product div.summary p{
text-align:justify;
}
.woocommerce-page div.product .product_title{
text-align:center;
}
.woocommerce div.product .woocommerce-product-rating{
float:right;
}
.woocommerce div.product form.cart .button{
margin-top:0 !important;
}
.woocommerce div.product .product_meta .posted_in{
padding:0 !important;
}
#tab-description{
text-align:justify;
}
.woocommerce #respond input#submit{
width:100%;
}
.woocommerce p.stars{
font-size:0.9em;
}
.woocommerce p.stars span{
display:block;
text-align:center;
}
.woocommerce .related ul.products li.product, .woocommerce .related ul li.product{
width:48% !important;
}
.woocommerce .related ul.products li.product a, .woocommerce-page .related ul.products li.product a{
left:35%;
bottom:125px;
}
.woocommerce a.button, .woocommerce-page a.button{
margin-top:0px !important;
left:10px !important;
top:10px !important;
}
}

@media (min-width:480px) and (max-width:639px){
.container, #container{
max-width:440px;
}
.container:before, .container:after, #container:before, #container:after{
content:&quot;
&quot;;
display:table;
}
.container:after, #container:after{
clear:both;
}
.megamenu{
width:440px;
}
.bka_menu .navbar-collapse.collapse{
display:none;
flex-direction:row;
width:auto;
}
.bka_menu .navbar-collapse.collapse.in{
display:block;
flex-direction:row;
width:auto;
}
#website_boxed:before, #website_boxed:after{
content:&quot;
&quot;;
display:table;
}
#website_boxed:after{
clear:both;
}
#website_boxed{
width:100vw;
max-width:100%;
}
#qcv_handle{
position:absolute;
top:22px;
right:70px;
}
#hgr_mc_name, #hgr_mc_lastname, #hgr_mc_email, .hgr_mc_btn{
width:100% !important;
margin-bottom:10px !important;
}
.woocommerce .product span.onsale{
top:10px !important;
right:10px !important;
left:auto !important;
}
.hgr_main_image{
float:right;
width:360px;
margin-bottom:20px;
}
.hgr_product_thumbnails{
width:70px;
max-height:240px;
float:left;
overflow:hidden;
}
.hgr_product_thumbnails a{
margin-right:10px;
}
.hgr_product_thumbnails a:last-child{
margin-right:0;
}
.hgr_product_thumbnails img{
max-width:70px !important;
height:auto;
}
.woocommerce-page div.product div.summary{
width:440px !important;
height:auto;
float:left !important;
}
.woocommerce-page div.product div.summary p{
text-align:justify;
}
.woocommerce-page div.product .product_title{
text-align:center;
}
.woocommerce div.product .woocommerce-product-rating{
float:right;
}
.woocommerce div.product form.cart .button{
margin-top:0 !important;
}
.woocommerce div.product .product_meta .posted_in{
padding:0 !important;
}
#tab-description{
text-align:justify;
}
.woocommerce #respond input#submit{
width:100%;
}
.woocommerce p.stars{
font-size:0.9em;
}
.woocommerce p.stars span{
display:block;
text-align:center;
}
.woocommerce .related ul.products li.product, .woocommerce .related ul li.product, .woocommerce .related li.product:nth-child(2n){
width:32% !important;
clear:none !important;
margin-left:2px;
margin-right:2px;
text-align:center;
float:left !important;
}
.woocommerce .related ul.products li.product a, .woocommerce-page .related ul.products li.product a{
left:37%;
top:-12px;
}
.woocommerce a.button, .woocommerce-page a.button{
margin-top:0px !important;
left:10px !important;
top:10px !important;
}
}

@media (min-width:640px) and (max-width:767px){
.container, #container{
max-width:600px;
}
.container:before, .container:after, #container:before, #container:after{
content:&quot;
&quot;;
display:table;
}
.container:after, #container:after{
clear:both;
}
.megamenu{
width:600px;
}
#website_boxed:before, #website_boxed:after{
content:&quot;
&quot;;
display:table;
}
#website_boxed:after{
clear:both;
}
#website_boxed{
width:100vw;
max-width:100%;
}
.initialHeaderSize{
padding-top:20px;
padding-bottom:20px;
padding-left:0;
padding-right:0;
}
.finalHeaderSize{
padding-top:0px !important;
padding-bottom:0 !important;
padding-left:50px !important;
padding-right:50px !important;
}
.woocommerce .product span.onsale{
top:10px !important;
right:10px !important;
left:auto !important;
}
.hgr_main_image{
float:right;
width:470px;
margin-bottom:20px;
}
.hgr_product_thumbnails{
width:120px;
max-height:460px;
float:left;
overflow:hidden;
}
.hgr_product_thumbnails a{
margin-right:10px;
}
.hgr_product_thumbnails a:last-child{
margin-right:0;
}
.hgr_product_thumbnails img{
max-width:120px !important;
height:auto;
}
.woocommerce-page div.product div.summary{
width:600px !important;
height:auto;
float:left !important;
}
.woocommerce-page div.product div.summary p{
text-align:justify;
}
.woocommerce-page div.product .product_title{
text-align:left;
}
.woocommerce div.product .woocommerce-product-rating{
float:right;
}
div.quantity_select{
width:70px !important;
background-position:50px !important;
}
.woocommerce select.qty{
width:280px !important;
}
.woocommerce form.cart select.qty{
width:85px !important;
}
.woocommerce div.product form.cart .button{
margin-top:0 !important;
width:50% !important;
}
.woocommerce div.product .product_meta .posted_in{
padding:0 !important;
}
#tab-description{
text-align:justify;
}
.woocommerce #respond input#submit{
width:100%;
}
.woocommerce p.stars{
font-size:0.9em;
}
.woocommerce p.stars span{
display:block;
text-align:center;
}
.woocommerce .related ul.products li.product, .woocommerce .related ul li.product{
width:32% !important;
clear:none !important;
margin-left:2px;
margin-right:2px;
text-align:center;
float:left !important;
}
.woocommerce .related ul.products li.product a, .woocommerce-page .related ul.products li.product a{
left:37%;
top:-12px;
}
.woocommerce a.button, .woocommerce-page a.button{
margin-top:0px !important;
left:10px !important;
top:10px !important;
}
}

@media (min-width:768px) and (max-width:979px){
.container, #container{
max-width:720px;
}
.megamenu{
width:720px;
}
ul.primary_menu{
margin-top:0;
}
#website_boxed{
width:100vw;
max-width:100%;
}
.initialHeaderSize{
padding-top:20px;
padding-bottom:20px;
padding-left:0;
padding-right:0;
}
.finalHeaderSize{
padding-top:0px !important;
padding-bottom:0 !important;
padding-left:50px !important;
padding-right:50px !important;
}
.woocommerce .product span.onsale{
top:10px !important;
right:10px !important;
left:auto !important;
}
.hgr_main_image{
float:right;
width:500px;
margin-bottom:20px;
}
.hgr_product_thumbnails{
width:200px;
max-height:500px;
float:left;
overflow:hidden;
}
.hgr_product_thumbnails a{
margin-right:10px;
}
.hgr_product_thumbnails a:last-child{
margin-right:0;
}
.hgr_product_thumbnails img{
max-width:200px !important;
height:auto;
}
.woocommerce-page div.product div.summary{
width:700px !important;
height:auto;
float:left !important;
}
.woocommerce-page div.product div.summary p{
text-align:justify;
}
.woocommerce-page div.product .product_title{
text-align:left;
}
.woocommerce div.product .woocommerce-product-rating{
float:right;
}
div.quantity_select{
width:70px !important;
background-position:50px !important;
}
.woocommerce select.qty{
width:280px !important;
}
.woocommerce form.cart select.qty{
width:85px !important;
}
.woocommerce div.product form.cart .button{
margin-top:0 !important;
width:50% !important;
}
.woocommerce div.product .product_meta .posted_in{
padding:0 !important;
}
#tab-description{
text-align:justify;
}
.woocommerce #respond input#submit{
width:100%;
}
.woocommerce p.stars{
font-size:0.9em;
}
.woocommerce p.stars span{
display:block;
text-align:center;
}
.woocommerce .related ul.products li.product, .woocommerce .related ul li.product{
width:32% !important;
clear:none !important;
margin-left:2px;
margin-right:2px;
text-align:center;
float:left !important;
}
.woocommerce .related ul.products li.product a, .woocommerce-page .related ul.products li.product a{
left:37%;
top:-12px;
}
.woocommerce a.button, .woocommerce-page a.button{
margin-top:0px !important;
left:10px !important;
top:10px !important;
}
}

@media (min-width:980px) and (max-width:1279px){
.container, #container{
max-width:920px;
}
.megamenu{
width:920px;
}
ul.primary_menu{
line-height:0;
}
ul.sub-menu{
line-height:24px;
top:-1;
}
#website_boxed{
width:100vw;
max-width:100%;
}
.initialHeaderSize{
padding-top:20px;
padding-bottom:20px;
padding-left:0;
padding-right:0;
}
.finalHeaderSize{
padding-top:0px !important;
padding-bottom:0 !important;
padding-left:50px !important;
padding-right:50px !important;
}
.woocommerce .product span.onsale{
top:10px !important;
right:10px !important;
left:auto !important;
}
.hgr_main_image{
float:right;
width:700px;
margin-bottom:20px;
}
.hgr_product_thumbnails{
width:200px;
float:left;
overflow:hidden;
}
.hgr_product_thumbnails a{
margin-right:10px;
}
.hgr_product_thumbnails a:last-child{
margin-right:0;
}
.hgr_product_thumbnails img{
max-width:200px !important;
height:auto;
}
.woocommerce-page div.product div.summary{
width:920px !important;
height:auto;
float:left !important;
}
.woocommerce-page div.product div.summary p{
text-align:justify;
}
.woocommerce-page div.product .product_title{
text-align:left;
}
.woocommerce div.product .woocommerce-product-rating{
float:right;
}
div.quantity_select{
width:70px !important;
background-position:50px !important;
}
.woocommerce select.qty{
width:280px !important;
}
.woocommerce form.cart select.qty{
width:70px !important;
}
.woocommerce div.product form.cart .button{
margin-top:0 !important;
width:150px !important;
float:none;
}
.woocommerce div.product .product_meta .posted_in{
padding:0 !important;
}
#tab-description{
text-align:justify;
}
.woocommerce #respond input#submit{
width:50%;
float:right;
}
.woocommerce p.stars{
font-size:0.9em;
}
.woocommerce p.stars span{
display:block;
}
.woocommerce .related ul.products li.product, .woocommerce .related ul li.product{
width:24% !important;
clear:none !important;
margin-left:2px;
margin-right:2px;
text-align:center;
float:left !important;
}
.woocommerce .related ul.products li.product a, .woocommerce-page .related ul.products li.product a{
left:39%;
bottom:125px;
}
.woocommerce a.button, .woocommerce-page a.button{
margin-top:0px !important;
left:10px !important;
top:10px !important;
}
}

@media (min-width:1280px){
.container, #container{
max-width:1200px;
}
.megamenu{
width:1200px;
}
ul.primary_menu{
line-height:0;
}
ul.sub-menu{
line-height:24px;
top:-1;
}
#website_boxed{
width:100vw;
max-width:100%;
}
.initialHeaderSize{
padding-top:20px;
padding-bottom:20px;
padding-left:0;
padding-right:0;
}
.finalHeaderSize{
padding-top:0px !important;
padding-bottom:0 !important;
padding-left:50px !important;
padding-right:50px !important;
}
.hgr_product_images{
width:960px;
height:800px;
float:left;
}
.hgr_product_summary{
width:700px;
height:800px;
float:right;
}
.hgr_main_image{
float:left;
width:600px;
}
.hgr_main_image.has_thumbnails{
width:480px;
}
.hgr_product_thumbnails{
width:100px;
margin-right:20px;
max-height:800px;
float:left;
overflow:hidden;
}
.woocommerce .product span.onsale{
top:10px !important;
right:10px !important;
left:auto !important;
}
div.quantity_select{
width:70px !important;
background-position:50px !important;
}
.woocommerce select.qty{
width:280px !important;
}
.woocommerce form.cart select.qty{
width:85px !important;
}
.woocommerce div.product form.cart .button{
margin-top:0 !important;
width:150px !important;
float:none;
}
.woocommerce .related ul.products li.product, .woocommerce .related ul li.product{
width:24% !important;
clear:none !important;
margin-left:2px;
margin-right:2px;
text-align:center;
float:left !important;
}
.woocommerce .related ul.products li.product a, .woocommerce-page .related ul.products li.product a{
left:39%;
bottom:125px;
}
.woocommerce a.button, .woocommerce-page a.button{
margin-top:0px !important;
left:10px !important;
top:10px !important;
}
}
img.wp-smiley, img.emoji{
display:inline !important;
border:none !important;
box-shadow:none !important;
height:1em !important;
width:1em !important;
margin:0 .07em !important;
vertical-align:-0.1em !important;
background:none !important;
padding:0 !important;
}
.tp-caption a{
color:#ff7302;
text-shadow:none;
-webkit-transition:all 0.2s ease-out;
-moz-transition:all 0.2s ease-out;
-o-transition:all 0.2s ease-out;
-ms-transition:all 0.2s ease-out
}
.tp-caption a:hover{
color:#ffa902
}
.tp-caption a{
color:#ff7302;
text-shadow:none;
-webkit-transition:all 0.2s ease-out;
-moz-transition:all 0.2s ease-out;
-o-transition:all 0.2s ease-out;
-ms-transition:all 0.2s ease-out
}
.tp-caption a:hover{
color:#ffa902
}
.tp-caption a{
color:#ff7302;
text-shadow:none;
-webkit-transition:all 0.2s ease-out;
-moz-transition:all 0.2s ease-out;
-o-transition:all 0.2s ease-out;
-ms-transition:all 0.2s ease-out
}
.tp-caption a:hover{
color:#ffa902
}
.tp-caption a{
color:#ff7302;
text-shadow:none;
-webkit-transition:all 0.2s ease-out;
-moz-transition:all 0.2s ease-out;
-o-transition:all 0.2s ease-out;
-ms-transition:all 0.2s ease-out
}
.tp-caption a:hover{
color:#ffa902
}
.tp-caption a{
color:#ff7302;
text-shadow:none;
-webkit-transition:all 0.2s ease-out;
-moz-transition:all 0.2s ease-out;
-o-transition:all 0.2s ease-out;
-ms-transition:all 0.2s ease-out
}
.tp-caption a:hover{
color:#ffa902
}
.recentcomments a{
display:inline !important;
padding:0 !important;
margin:0 !important;
}
.back-to-top{
background:rgba(255,255,255,0.2);
}
.container_xs{
width:300px;
}
.container_s{
width:440px;
}
.container_m{
width:600px;
}
.container_l{
width:720px;
}
.container_xl{
width:920px;
}
.container_xxl{
width:1200px;
}
body{
color:#666666;
}
.theme_dominant_color{
color:#39aea9;
}
.dark_scheme{
color:#848484;
}
.dark_scheme h1{
color:#ffffff;
}
.dark_scheme h2{
color:#ffffff;
}
.dark_scheme h3{
color:#e0e0e0;
}
.dark_scheme h4{
color:#ffffff;
}
.dark_scheme h5{
color:#ffffff;
}
.dark_scheme h6{
color:#ffffff;
}
.dark_scheme a{
color:#848484;
}
.dark_scheme a:hover{
color:#39aea9;
}
.light_scheme{
color:#848484;
}
.light_scheme h1{
color:#3d4049;
}
.light_scheme h2{
color:#3d4049;
}
.light_scheme h3{
color:#666666;
}
.light_scheme h4{
color:#222222;
}
.light_scheme h6{
color:#848484;
}
.light_scheme a{
color:#848484;
}
.light_scheme a:hover{
color:#39aea9;
}
body, .megamenu{
line-height:30px;
font-weight:400;
font-style:normal;
font-size:16px;
opacity:1;
visibility:visible;
-webkit-transition:opacity 0.24s ease-in-out;
-moz-transition:opacity 0.24s ease-in-out;
transition:opacity 0.24s ease-in-out;
}
.wf-loading body, .megamenu,{
opacity:0;
}
.ie.wf-loading body, .megamenu,{
visibility:hidden;
}
h1, .megamenu h1{
line-height:70px;
font-weight:400;
font-style:normal;
font-size:70px;
opacity:1;
visibility:visible;
-webkit-transition:opacity 0.24s ease-in-out;
-moz-transition:opacity 0.24s ease-in-out;
transition:opacity 0.24s ease-in-out;
}
.wf-loading h1, .megamenu h1,{
opacity:0;
}
.ie.wf-loading h1, .megamenu h1,{
visibility:hidden;
}
h2, .megamenu h2{
line-height:30px;
font-weight:700;
font-style:normal;
font-size:16px;
opacity:1;
visibility:visible;
-webkit-transition:opacity 0.24s ease-in-out;
-moz-transition:opacity 0.24s ease-in-out;
transition:opacity 0.24s ease-in-out;
}
.wf-loading h2, .megamenu h2,{
opacity:0;
}
.ie.wf-loading h2, .megamenu h2,{
visibility:hidden;
}
h3, .megamenu h3{
line-height:56px;
font-weight:normal;
font-style:normal;
font-size:48px;
opacity:1;
visibility:visible;
-webkit-transition:opacity 0.24s ease-in-out;
-moz-transition:opacity 0.24s ease-in-out;
transition:opacity 0.24s ease-in-out;
}
.wf-loading h3, .megamenu h3,{
opacity:0;
}
.ie.wf-loading h3, .megamenu h3,{
visibility:hidden;
}
h4, .megamenu h4{
line-height:30px;
font-weight:700;
font-style:normal;
font-size:16px;
opacity:1;
visibility:visible;
-webkit-transition:opacity 0.24s ease-in-out;
-moz-transition:opacity 0.24s ease-in-out;
transition:opacity 0.24s ease-in-out;
}
.wf-loading h4, .megamenu h4,{
opacity:0;
}
.ie.wf-loading h4, .megamenu h4,{
visibility:hidden;
}
h5, .megamenu h5{
line-height:36px;
font-weight:300;
font-style:normal;
font-size:36px;
opacity:1;
visibility:visible;
-webkit-transition:opacity 0.24s ease-in-out;
-moz-transition:opacity 0.24s ease-in-out;
transition:opacity 0.24s ease-in-out;
}
.wf-loading h5, .megamenu h5,{
opacity:0;
}
.ie.wf-loading h5, .megamenu h5,{
visibility:hidden;
}
h6, .megamenu h6{
line-height:18px;
font-weight:300;
font-style:normal;
font-size:12px;
opacity:1;
visibility:visible;
-webkit-transition:opacity 0.24s ease-in-out;
-moz-transition:opacity 0.24s ease-in-out;
transition:opacity 0.24s ease-in-out;
}
.wf-loading h6, .megamenu h6,{
opacity:0;
}
.ie.wf-loading h6, .megamenu h6,{
visibility:hidden;
}
.bka_menu, .bka_menu .navbar-default .navbar-nav>li>a, .dropdown-menu > li > a{
line-height:60px;
font-weight:400;
font-style:normal;
font-size:16px;
opacity:1;
visibility:visible;
-webkit-transition:opacity 0.24s ease-in-out;
-moz-transition:opacity 0.24s ease-in-out;
transition:opacity 0.24s ease-in-out;
}
.wf-loading .bka_menu, .bka_menu .navbar-default .navbar-nav>li>a, .dropdown-menu > li > a,{
opacity:0;
}
.ie.wf-loading .bka_menu, .bka_menu .navbar-default .navbar-nav>li>a, .dropdown-menu > li > a,{
visibility:hidden;
}
.bka_menu .navbar-default .navbar-nav>li>a, .dropdown-menu>li>a{
color:#ffffff;
}
.bka_menu .navbar-default .navbar-nav>li>a:hover, .dropdown-menu>li>a:hover{
color:#39aea9;
}
.bka_menu, .navbar-collapse.in, .navbar-collapse.colapsing, #mainNavUl .dropdown-menu, #mainNavUlLeft .dropdown-menu, #mainNavUlRight .dropdown-menu{
background:#1b1d1f;
}
.bka_menu{
margin-top:0;
margin-right:0;
margin-bottom:0;
margin-left:0;
}
.bka_menu{
padding-top:20px;
padding-right:50px;
padding-bottom:0;
padding-left:50px;
}
.wpcf7 p{
line-height:30px;
font-weight:400;
font-style:normal;
color:#666666;
font-size:12px;
opacity:1;
visibility:visible;
-webkit-transition:opacity 0.24s ease-in-out;
-moz-transition:opacity 0.24s ease-in-out;
transition:opacity 0.24s ease-in-out;
}
.wf-loading .wpcf7 p,{
opacity:0;
}
.ie.wf-loading .wpcf7 p,{
visibility:hidden;
}
.wpcf7 input[type=text], .wpcf7 input[type=email], .wpcf7 textarea{
line-height:12px;
font-weight:400;
font-style:normal;
color:#8e8e8e;
font-size:12px;
opacity:1;
visibility:visible;
-webkit-transition:opacity 0.24s ease-in-out;
-moz-transition:opacity 0.24s ease-in-out;
transition:opacity 0.24s ease-in-out;
}
.wf-loading .wpcf7 input[type=text], .wpcf7 input[type=email], .wpcf7 textarea,{
opacity:0;
}
.ie.wf-loading .wpcf7 input[type=text], .wpcf7 input[type=email], .wpcf7 textarea,{
visibility:hidden;
}
.wpcf7 input[type=text], .wpcf7 input[type=email], .wpcf7 textarea{
padding-top:10px;
padding-right:10px;
padding-bottom:10px;
padding-left:10px;
}
.wpcf7 input[type=text], .wpcf7 input[type=email], .wpcf7 textarea, .wpcf7 input[type=submit]{
margin-top:0;
margin-right:0;
margin-bottom:10px;
margin-left:0;
}
.wpcf7 input[type=text], .wpcf7 input[type=email], .wpcf7 textarea{
border-top:1px dotted #cecece;
border-bottom:1px dotted #cecece;
border-left:1px dotted #cecece;
border-right:1px dotted #cecece;
}
.wpcf7 input[type=submit]{
height:45px;
}
.wpcf7 input[type=submit]{
background:#39aea9;
}
.wpcf7 input[type=submit]:hover{
background:#2c8481;
}
.wpcf7 input[type=submit]{
color:#ffffff;
}
.wpcf7 input[type=submit]:hover{
color:#ffffff;
}
#qcv_container{
background:#f9f8f6;
}
#qcv_container{
border-top:2px solid #cecece;
border-bottom:2px solid #cecece;
border-left:2px solid #cecece;
border-right:2px solid #cecece;
}
body.blog, body.single-post{
line-height:30px;
font-weight:400;
font-style:normal;
color:#848484;
font-size:16px;
opacity:1;
visibility:visible;
-webkit-transition:opacity 0.24s ease-in-out;
-moz-transition:opacity 0.24s ease-in-out;
transition:opacity 0.24s ease-in-out;
}
.wf-loading body.blog, body.single-post,{
opacity:0;
}
.ie.wf-loading body.blog, body.single-post,{
visibility:hidden;
}
.blog h1, body.single-post h1{
line-height:48px;
font-weight:400;
font-style:normal;
color:#3d4049;
font-size:48px;
opacity:1;
visibility:visible;
-webkit-transition:opacity 0.24s ease-in-out;
-moz-transition:opacity 0.24s ease-in-out;
transition:opacity 0.24s ease-in-out;
}
.wf-loading .blog h1, body.single-post h1,{
opacity:0;
}
.ie.wf-loading .blog h1, body.single-post h1,{
visibility:hidden;
}
.blog h2, body.single-post h2{
line-height:30px;
font-weight:700;
font-style:normal;
color:#3d4049;
font-size:16px;
opacity:1;
visibility:visible;
-webkit-transition:opacity 0.24s ease-in-out;
-moz-transition:opacity 0.24s ease-in-out;
transition:opacity 0.24s ease-in-out;
}
.wf-loading .blog h2, body.single-post h2,{
opacity:0;
}
.ie.wf-loading .blog h2, body.single-post h2,{
visibility:hidden;
}
.blog h3, body.single-post h3{
line-height:38px;
font-weight:400;
font-style:normal;
color:#646464;
font-size:22px;
opacity:1;
visibility:visible;
-webkit-transition:opacity 0.24s ease-in-out;
-moz-transition:opacity 0.24s ease-in-out;
transition:opacity 0.24s ease-in-out;
}
.wf-loading .blog h3, body.single-post h3,{
opacity:0;
}
.ie.wf-loading .blog h3, body.single-post h3,{
visibility:hidden;
}
.blog h4, body.single-post h4{
line-height:30px;
font-weight:700;
font-style:normal;
color:#3d4049;
font-size:18px;
opacity:1;
visibility:visible;
-webkit-transition:opacity 0.24s ease-in-out;
-moz-transition:opacity 0.24s ease-in-out;
transition:opacity 0.24s ease-in-out;
}
.wf-loading .blog h4, body.single-post h4,{
opacity:0;
}
.ie.wf-loading .blog h4, body.single-post h4,{
visibility:hidden;
}
.blog h5, body.single-post h5{
line-height:50px;
font-weight:600;
font-style:normal;
color:#646464;
font-size:46px;
opacity:1;
visibility:visible;
-webkit-transition:opacity 0.24s ease-in-out;
-moz-transition:opacity 0.24s ease-in-out;
transition:opacity 0.24s ease-in-out;
}
.wf-loading .blog h5, body.single-post h5,{
opacity:0;
}
.ie.wf-loading .blog h5, body.single-post h5,{
visibility:hidden;
}
.blog h6, body.single-post h6{
line-height:24px;
font-weight:300;
font-style:normal;
color:#646464;
font-size:16px;
opacity:1;
visibility:visible;
-webkit-transition:opacity 0.24s ease-in-out;
-moz-transition:opacity 0.24s ease-in-out;
transition:opacity 0.24s ease-in-out;
}
.wf-loading .blog h6, body.single-post h6,{
opacity:0;
}
.ie.wf-loading .blog h6, body.single-post h6,{
visibility:hidden;
}
.blog a, .megamenu a{
color:#3d4049;
}
.blog a:hover, .megamenu a:hover{
color:#39aea9;
}
.wpb_animate_when_almost_visible{
opacity:1;
}
a.eg-henryharrison-element-1, a.eg-henryharrison-element-2{
-webkit-transition:all .4s linear;
-moz-transition:all .4s linear;
-o-transition:all .4s linear;
-ms-transition:all .4s linear;
transition:all .4s linear
}
.eg-jimmy-carter-element-11 i:before{
margin-left:0px;
margin-right:0px
}
.eg-harding-wrapper .esg-entry-media{
overflow:hidden;
box-sizing:border-box;
-webkit-box-sizing:border-box;
-moz-box-sizing:border-box;
padding:30px 30px 0px 30px
}
.eg-harding-wrapper .esg-entry-media img{
overflow:hidden;
border-radius:50%;
-webkit-border-radius:50%;
-moz-border-radius:50%
}
.eg-ulysses-s-grant-wrapper .esg-entry-media{
overflow:hidden;
box-sizing:border-box;
-webkit-box-sizing:border-box;
-moz-box-sizing:border-box;
padding:30px 30px 0px 30px
}
.eg-ulysses-s-grant-wrapper .esg-entry-media img{
overflow:hidden;
border-radius:50%;
-webkit-border-radius:50%;
-moz-border-radius:50%
}
.eg-richard-nixon-wrapper .esg-entry-media{
overflow:hidden;
box-sizing:border-box;
-webkit-box-sizing:border-box;
-moz-box-sizing:border-box;
padding:30px 30px 0px 30px
}
.eg-richard-nixon-wrapper .esg-entry-media img{
overflow:hidden;
border-radius:50%;
-webkit-border-radius:50%;
-moz-border-radius:50%
}
.eg-herbert-hoover-wrapper .esg-entry-media img{
filter:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale");
filter:gray;
-webkit-filter:grayscale(100%)
}
.eg-herbert-hoover-wrapper:hover .esg-entry-media img{
filter:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='1 0 0 0 0,0 1 0 0 0,0 0 1 0 0,0 0 0 1 0'/></filter></svg>#grayscale");
-webkit-filter:grayscale(0%)
}
.eg-lyndon-johnson-wrapper .esg-entry-media img{
filter:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale");
filter:gray;
-webkit-filter:grayscale(100%)
}
.eg-lyndon-johnson-wrapper:hover .esg-entry-media img{
filter:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='1 0 0 0 0,0 1 0 0 0,0 0 1 0 0,0 0 0 1 0'/></filter></svg>#grayscale");
-webkit-filter:grayscale(0%)
}
.esg-overlay.eg-ronald-reagan-container{
background:-moz-linear-gradient(top, rgba(0,0,0,0) 50%, rgba(0,0,0,0.83) 99%, rgba(0,0,0,0.85) 100%);
background:-webkit-gradient(linear, left top, left bottom, color-stop(50%, rgba(0,0,0,0)), color-stop(99%, rgba(0,0,0,0.83)), color-stop(100%, rgba(0,0,0,0.85)));
background:-webkit-linear-gradient(top, rgba(0,0,0,0) 50%, rgba(0,0,0,0.83) 99%, rgba(0,0,0,0.85) 100%);
background:-o-linear-gradient(top, rgba(0,0,0,0) 50%, rgba(0,0,0,0.83) 99%, rgba(0,0,0,0.85) 100%);
background:-ms-linear-gradient(top, rgba(0,0,0,0) 50%, rgba(0,0,0,0.83) 99%, rgba(0,0,0,0.85) 100%);
background:linear-gradient(to bottom, rgba(0,0,0,0) 50%, rgba(0,0,0,0.83) 99%, rgba(0,0,0,0.85) 100%);
filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#d9000000', GradientType=0 )
}
.eg-georgebush-wrapper .esg-entry-cover{
background:-moz-linear-gradient(top, rgba(0,0,0,0) 50%, rgba(0,0,0,0.83) 99%, rgba(0,0,0,0.85) 100%);
background:-webkit-gradient(linear, left top, left bottom, color-stop(50%, rgba(0,0,0,0)), color-stop(99%, rgba(0,0,0,0.83)), color-stop(100%, rgba(0,0,0,0.85)));
background:-webkit-linear-gradient(top, rgba(0,0,0,0) 50%, rgba(0,0,0,0.83) 99%, rgba(0,0,0,0.85) 100%);
background:-o-linear-gradient(top, rgba(0,0,0,0) 50%, rgba(0,0,0,0.83) 99%, rgba(0,0,0,0.85) 100%);
background:-ms-linear-gradient(top, rgba(0,0,0,0) 50%, rgba(0,0,0,0.83) 99%, rgba(0,0,0,0.85) 100%);
background:linear-gradient(to bottom, rgba(0,0,0,0) 50%, rgba(0,0,0,0.83) 99%, rgba(0,0,0,0.85) 100%);
filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#d9000000', GradientType=0 )
}
.eg-jefferson-wrapper{
-webkit-border-radius:5px !important;
-moz-border-radius:5px !important;
border-radius:5px !important;
-webkit-mask-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC) !important
}
.eg-monroe-element-1{
text-shadow:0px 1px 3px rgba(0,0,0,0.1)
}
.eg-lyndon-johnson-wrapper .esg-entry-cover{
background:-moz-radial-gradient(center, ellipse cover, rgba(0,0,0,0.35) 0%, rgba(18,18,18,0) 96%, rgba(19,19,19,0) 100%);
background:-webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(0,0,0,0.35)), color-stop(96%, rgba(18,18,18,0)), color-stop(100%, rgba(19,19,19,0)));
background:-webkit-radial-gradient(center, ellipse cover, rgba(0,0,0,0.35) 0%, rgba(18,18,18,0) 96%, rgba(19,19,19,0) 100%);
background:-o-radial-gradient(center, ellipse cover, rgba(0,0,0,0.35) 0%, rgba(18,18,18,0) 96%, rgba(19,19,19,0) 100%);
background:-ms-radial-gradient(center, ellipse cover, rgba(0,0,0,0.35) 0%, rgba(18,18,18,0) 96%, rgba(19,19,19,0) 100%);
background:radial-gradient(ellipse at center, rgba(0,0,0,0.35) 0%, rgba(18,18,18,0) 96%, rgba(19,19,19,0) 100%);
filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#59000000', endColorstr='#00131313', GradientType=1 )
}
.eg-wilbert-wrapper .esg-entry-cover{
background:-moz-radial-gradient(center, ellipse cover, rgba(0,0,0,0.35) 0%, rgba(18,18,18,0) 96%, rgba(19,19,19,0) 100%);
background:-webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(0,0,0,0.35)), color-stop(96%, rgba(18,18,18,0)), color-stop(100%, rgba(19,19,19,0)));
background:-webkit-radial-gradient(center, ellipse cover, rgba(0,0,0,0.35) 0%, rgba(18,18,18,0) 96%, rgba(19,19,19,0) 100%);
background:-o-radial-gradient(center, ellipse cover, rgba(0,0,0,0.35) 0%, rgba(18,18,18,0) 96%, rgba(19,19,19,0) 100%);
background:-ms-radial-gradient(center, ellipse cover, rgba(0,0,0,0.35) 0%, rgba(18,18,18,0) 96%, rgba(19,19,19,0) 100%);
background:radial-gradient(ellipse at center, rgba(0,0,0,0.35) 0%, rgba(18,18,18,0) 96%, rgba(19,19,19,0) 100%);
filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#59000000', endColorstr='#00131313', GradientType=1 )
}
.eg-wilbert-wrapper .esg-entry-media img{
-webkit-transition:0.4s ease-in-out;
-moz-transition:0.4s ease-in-out;
-o-transition:0.4s ease-in-out;
transition:0.4s ease-in-out;
filter:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale");
filter:gray;
-webkit-filter:grayscale(100%)
}
.eg-wilbert-wrapper:hover .esg-entry-media img{
filter:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='1 0 0 0 0,0 1 0 0 0,0 0 1 0 0,0 0 0 1 0'/></filter></svg>#grayscale");
-webkit-filter:grayscale(0%)
}
.eg-phillie-element-3:after{
content:" ";
width:0px;
height:0px;
border-style:solid;
border-width:5px 5px 0 5px;
border-color:#000 transparent transparent transparent;
left:50%;
margin-left:-5px;
bottom:-5px;
position:absolute
}
.eg-howardtaft-wrapper .esg-entry-media img, .eg-howardtaft-wrapper .esg-media-poster{
filter:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='1 0 0 0 0,0 1 0 0 0,0 0 1 0 0,0 0 0 1 0'/></filter></svg>#grayscale");
-webkit-filter:grayscale(0%)
}
.eg-howardtaft-wrapper:hover .esg-entry-media img, .eg-howardtaft-wrapper:hover .esg-media-poster{
filter:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale");
filter:gray;
-webkit-filter:grayscale(100%)
}
.myportfolio-container .added_to_cart.wc-forward{

font-size:13px;
color:#fff;
margin-top:10px
}
.esgbox-title.esgbox-title-outside-wrap{
font-size:15px;
font-weight:700;
text-align:center
}
.esgbox-title.esgbox-title-inside-wrap{
padding-bottom:10px;
font-size:15px;
font-weight:700;
text-align:center
}
.text-light .navigationbuttons, .text-light .esg-pagination, .text-light .esg-filters{
text-align:center;
position:relative;
z-index:2
}
.text-light .esg-filterbutton, .text-light .esg-navigationbutton, .text-light .esg-sortbutton, .text-light .esg-cartbutton{
color:#999;
margin-right:5px;
cursor:pointer;
padding:0px 15px 0px 10px;
line-height:20px;
font-size:12px;
font-weight:700;
display:inline-block;
background:transparent;
margin-bottom:5px;
text-transform:uppercase
}
.text-light .esg-navigationbutton *{
color:#999
}
.text-light .esg-sortbutton-wrapper, .text-light .esg-cartbutton-wrapper{
display:inline-block
}
.text-light .esg-sortbutton-order, .text-light .esg-cartbutton-order{
display:inline-block;
vertical-align:middle;
width:29px;
line-height:20px;
font-size:9px;
font-weight:700;
color:#999;
cursor:pointer;
background:transparent
}
.text-light .esg-cartbutton{
color:#999;
cursor:default !important
}
.text-light .esg-cartbutton .esgicon-basket{
color:#999;
font-size:15px;
line-height:15px;
margin-right:10px
}
.text-light .esg-cartbutton-wrapper{
cursor:default !important
}
.text-light .esg-sortbutton, .text-light .esg-cartbutton{
display:inline-block;
position:relative;
cursor:pointer;
margin-right:0px
}
.text-light .esg-navigationbutton:hover, .text-light .esg-filterbutton:hover, .text-light .esg-sortbutton:hover, .text-light .esg-filterbutton.selected, .text-light .esg-sortbutton-order:hover, .text-light .esg-cartbutton-order:hover{
color:#444
}
.text-light .esg-navigationbutton:hover, .text-light .esg-filterbutton:hover span:first-child, .text-light .esg-filterbutton.selected span:first-child{
text-decoration:none
}
.text-light .esg-filterbutton:last-child{
border-right:none
}
.text-light .esg-sortbutton-order{
padding-left:10px;
border-left:1px solid #e5e5e5
}
.text-light .esg-navigationbutton:hover *{
color:#444
}
.text-light .esg-sortbutton-order.tp-desc:hover{
border-color:#e5e5e5;
color:#444
}
.text-light .esg-filter-checked{
padding:1px 3px;
color:transparent;
background:#eee;
background:rgba(0,0,0,0.05);
margin-left:7px;
font-size:9px;
font-weight:300;
line-height:9px;
vertical-align:middle
}
.text-light .esg-filter-checked *{
}
.text-light .esg-filterbutton.selected .esg-filter-checked, .text-light .esg-filterbutton:hover .esg-filter-checked{
padding:1px 3px 1px 3px;
color:#333;
background:#eee;
background:rgba(0,0,0,0.05);
margin-left:7px;
font-size:9px;
font-weight:300;
line-height:9px;
vertical-align:middle
}
.eg-hatch-agency-element-3{
font-size:16px;
line-height:20px;
color:#ffffff;
font-weight:700;
display:inline-block;
float:none;
clear:both;
margin:15px 0px 0px 0px;
padding:5px 10px 5px 10px;
border-radius:0px 0px 0px 0px;
background-color:rgba(0,10,0,0);
position:relative;
z-index:2 !important;
text-transform:uppercase
}
.eg-hatch-agency-container{
background-color:rgba(57,174,169,0.95)
}
.eg-hatch-agency-content{
background-color:#ffffff;
padding:0px 0px 0px 0px;
border-width:0px 0px 0px 0px;
border-radius:0px 0px 0px 0px;
border-color:transparent;
border-style:double;
text-align:left
}
.esg-grid .mainul li.eg-hatch-agency-wrapper{
background-color:#3f424a;
padding:0px 0px 0px 0px;
border-width:0px 0px 0px 0px;
border-radius:0px 0px 0px 0px;
border-color:transparent;
border-style:none
}
